Source: libcpr
Section: libs
Priority: optional
Maintainer: Philip Saendig <philip.saendig@gmail.com>
Build-Depends: cmake, libssl-dev, libcurl4-openssl-dev, debhelper (>=11~)
Standards-Version: 4.5.0
Homepage: https://github.com/libcpr/cpr

Package: libcpr1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: C++ wrapper around the libcurl library
 The project is inspried by the Python Request project.
 Using the more expressive language facilities of C++11,
 it captures the essence of making network calls into a
 few concise idioms.
