# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Custom
build/
!nuget/build

# Jekyll stuff
_includes/
_site/

# Vim
.ycm_extra_conf.py*
*.swp

# VSCode
.vscode/*
!.vscode/tasks.json
.vs/
!.vs/tasks.json

# clangd
.cache/

# compilation database
# used in various editor configurations, such as vim & YcM
compile_commands.json

# macOS
.DS_Store

# CLion
.idea/
