<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/highlighter.css">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/cpr-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <a href="{{ site.github.repository_url }}"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="wrapper">
      <header>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/cpr.png" style="object-fit:contain;margin-left:30px" height=100px><img></a>
        <h1><a href="{{ site.baseurl }}/">cpr - C++ Requests</a></h1>
        <iframe src="https://ghbtns.com/github-btn.html?user=whoshuu&amp;repo=cpr&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="160px" height="45px"></iframe>
        <p>cpr is a modern HTTP library for C++, built for people.</p>
        <h3>User Guide</h3>
        <ul>
          <li><a href="{{ site.baseurl }}/introduction.html">Introduction</a>
            <ul>
              <li><a href="{{ site.baseurl }}/introduction.html#design">Design</a></li>
              <li><a href="{{ site.baseurl }}/introduction.html#get-requests">GET Requests</a></li>
              <li><a href="{{ site.baseurl }}/introduction.html#post-requests">POST Requests</a></li>
              <li><a href="{{ site.baseurl }}/introduction.html#authentication">Authentication</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/advanced-usage.html">Advanced Usage</a>
            <ul>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#response-objects">Response Objects</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#request-headers">Request Headers</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#session-objects">Session Objects</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#asynchronous-requests">Asynchronous Requests</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#asynchronous-callbacks">Asynchronous Callbacks</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#setting-a-timeout">Setting a Timeout</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#using-proxies">Using Proxies</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#sending-cookies">Sending Cookies</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#put-and-patch-requests">PUT and PATCH Requests</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#other-request-methods">Other Request Methods</a></li>
              <li><a href="{{ site.baseurl }}/advanced-usage.html#https-options">HTTPS Options</a></li>
            </ul>
          </li>
        </ul>
      <p>This project is maintained by <a href="https://github.com/com8">Fabian Sauter</a> and <a href="https://github.com/tstack">Tim Stack</a></p>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    <script src="{{ site.baseurl }}/javascripts/anchor.min.js"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-50612882-3");
        pageTracker._trackPageview();
      } catch(err) {}
      /**
       * AnchorJS v1.1.1 options and selector
       */

      (function () {
        'use strict';
        anchors.options.placement = 'left';
        anchors.add('h2');
      })();
    </script>
  </body>
</html>
