name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ubuntu-20-gcc-ssl:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: Install libssl-dev
      run: sudo apt install libssl-dev
    - name: "[Release g++] Build & Test"
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        cc: gcc
        cxx: g++
        build-type: Release
        run-test: true
        ctest-options: -V

  ubuntu-18-gcc-ssl:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: Install libssl-dev
      run: sudo apt install libssl-dev
    - name: "[Release g++] Build & Test"
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        cc: gcc
        cxx: g++
        build-type: Release
        run-test: true
        ctest-options: -V
    
  ubuntu-18-gcc-ssl-address-leak-undefined-behavior-sanitizer:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: Install libssl-dev
      run: sudo apt install libssl-dev
    - name: Install sanitizer
      run: sudo apt install libasan5 libubsan1 liblsan0 libtsan0
    - name: "[Release g++] Build & Test"
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        cc: gcc
        cxx: g++
        build-type: AllSan
        run-test: true
        ctest-options: -V

  ubuntu-18-gcc-ssl-thread-sanitizer:
    runs-on: ubuntu-18.04
    if: ${{ false }} # Disabled for now until all problems are resolved
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: Install libssl-dev
      run: sudo apt install libssl-dev
    - name: Install sanitizer
      run: sudo apt install libasan5 libubsan1 liblsan0 libtsan0
    - name: "[Release g++] Build & Test"
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        cc: gcc
        cxx: g++
        build-type: ThreadSan
        run-test: true
        ctest-options: -V
  
  ubuntu-18-clang-ssl:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: Install libssl-dev
      run: sudo apt install libssl-dev
    - name: "[Release g++] Build & Test"
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        cc: clang
        cxx: clang++
        build-type: Release
        run-test: true
        ctest-options: -V

  ubuntu-16-gcc-ssl:
    runs-on: ubuntu-16.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: Install libssl-dev
      run: sudo apt install libssl-dev
    - name: "[Release g++] Build & Test"
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        cc: gcc
        cxx: g++
        build-type: Release
        run-test: true
        ctest-options: -V
    
  windows-msvc-winssl:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: "[Release msvc] Build & Test"
      env:
        CMAKE_GENERATOR: "Visual Studio 16 2019"
        USE_WINSSL: ON
        USE_OPENSSL: OFF
        BUILD_CPR_TESTS_SSL: OFF
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        build-type: Release
        target: ALL_BUILD
        run-test: true
        ctest-options: -V
  
  windows-msvc-openssl:
    runs-on: windows-latest
    if: ${{ false }} # Disabled for now until we find a way to install OpenSSL from the terminal (#418)
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: "[Release msvc] Build & Test"
      env:
        CMAKE_GENERATOR: "Visual Studio 16 2019"
        USE_WINSSL: OFF
        USE_OPENSSL: ON
        BUILD_CPR_TESTS_SSL: ON
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        build-type: Release
        target: ALL_BUILD
        run-test: true
        ctest-options: -V

  macos-clang-ssl:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        submodules: true
    - name: Install openssl
      run: |
        brew install openssl
        echo 'export PATH="/usr/local/opt/openssl/bin:$PATH"' >> ~/.bash_profile
        source ~/.bash_profile
    - name: "[Release clang++] Build & Test"
      env:
        OPENSSL_ROOT_DIR: "/usr/local/opt/openssl"
        OPENSSL_LIBRARIES: "/usr/local/opt/openssl/lib"
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{github.workspace}}/build
        source-dir: ${{github.workspace}}
        build-type: Release
        cc: clang
        cxx: clang++
        run-test: true
        ctest-options: -V
